@layer components;

/** BUTTON GROUP */
div.button-group {
	display: flex;
	justify-content: flex-end;
	gap: 2px;

	button {
		border-radius: 4px;

		&:first-child {
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
		}

		&:last-child {
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}
	}
}
