@layer components;

/** CODE */
code {
	font-family: var(--font-family--monospace);
	font-weight: 300;
}

/*- CODE BLOCK */
pre.code-block {
	padding: 0.5em 1em;
	background-color: transparent;
	border: 1px solid var(--border-mute);
	border-radius: 4px;
	overflow-x: auto;
	tab-size: 4;
}

/*- CODE SPAN */
code.code-span {
	padding: 0.15em 0.2em;
	border-radius: 0.25em;
	background-color: var(--background-accent);
}