@layer components;

/** TOAST */
#toast-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 16px;
	top: 0;
	right: 0;
	gap: 16px;
	z-index: 1000;
	width: 80%;
	max-width: 350px;

	&:empty {
		display: none;
		visibility: hidden;
	}
}

.toast {
	display: flex;
	flex-direction: column;
	gap: 4px;

	width: max-content;
	max-width: 100%;

	padding: 8px 16px;

	background: hsla(from var(--background-accent) h s l / 50%);

	backdrop-filter: blur(3px);
	border-left: 3px solid var(--border);
	transform-origin: 100% 50%;

	transition-property: all;
	transition-duration: 200ms;
	transition-timing-function: ease;

	animation-duration: 200ms;
	animation-timing-function: ease;

	cursor: pointer;
	--time: 5000ms;

	overflow: hidden;

	&:hover {
		background: hsla(from var(--primary) h s l / 20%);
		border-left: 3px solid var(--primary);
		transition-property: background-color, border-left;
	}

	&:active {
		scale: 98%;
	}

	&.opening {
		animation-name: toast-open;
	}

	&.closing {
		animation-name: toast-close;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
		bottom: 0;
		left: 0;
		opacity: 50%;
		background-color: var(--primary);
		animation: close-time calc(var(--time) - 100ms) linear forwards;
	}

	h5.toast-title {
		margin: 0;
	}

	.toast-message {
		font-size: 0.8em;
		margin: 0;
		line-height: 1;
	}
}

@keyframes close-time {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

@keyframes toast-open {
	from {
		opacity: 0;
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes toast-close {
	from {
		opacity: 1;
		transform: translateX(0);
		max-height: 100vh;
	}
	to {
		opacity: 0;
		transform: translateX(50%);
		max-height: 0;
	}
}
